.footer {
	width: 100%;
	height: 40px;
	font-size: 12px;
	bottom: 0;
	background-color: #111;
	position: fixed;
	float: center;
}
.with-border-image{
	border-top: 1px solid #236
}
.footer p{
	padding: 12px 50px;
	margin: 0px 0px;
	/*border-top: 1px solid linear-gradient(to left,royalblue, green);*/
 	;
}
.footer a{
	text-decoration: none;
	color: #eee;
}
.footer a:hover{
	color: #89f;
}
#hgcfooter:hover{
	color: #6F479B;
}