@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
	background-image: url(../images/bboard.jpg);
	background-attachment: fixed;
	background-position: cover;
	background-size: cover;
	background-repeat: repeat;
	background-color: #222;
	
	color: #eee;
	text-shadow: 1px 1px 3px black;
	font-family: "Roboto Condensed";
	margin: 0;
	padding: 0;
}

.page {
	position: relative;
	width: 100%;
	margin: 0;
}
.page div {
	padding: 0px 0px;
}
.main {
	min-height: 660px;
}

.about {	
	font-size: 18px;
	background-color: rgba(17, 17, 17, 0.95);
	min-height: 55vh;
	text-align: center;
	border-bottom: 1px solid #236;
	border-top: 1px solid #236;
	box-shadow: 0px -2px 150px #222;
}
.about h4 {
	font-size: 24px;
	margin: 0;
	padding: 30px;
}
.about p {
	margin: 0;
	padding: 0px 30px;
}
.about li {
	text-align: left;
	padding: 0px 450px;
	list-style: inside;
}