::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset -3px 0 12px #121212; 
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #444;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #383838;
  border: 1px solid #484848;
}